{% extends "base.html" %}

{% block title %}
    Activation A2F
{% endblock %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg" style="width: 100%; max-width: 500px; border-radius: 15px;">
        <div class="card-header bg-gradient text-white text-center" style="background: black; border-top-left-radius: 15px; border-top-right-radius: 15px;">
            <h2 class="mb-0">Activer l'Authentification en 2 facteurs</h2>
        </div>
        <div class="card-body p-4">
			<form action="{% url 'user_manage:a2f_send_mail' %}" method="post">
				{% csrf_token %}
				<button type="submit" class="btn btn-primary">Envoyer le Code</button>
			</form>
            <form method="post" class="py-2">
                {% csrf_token %}
                <div class="form-group mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2" style="border-radius: 10px;">Enregistrer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}