{% extends "base.html" %}

{% block title %}
    Liste des Utilisateurs
{% endblock %}

{% block content %}
    <h2>Utilisateurs</h2>
    <div class="button-container">
        <button onclick="location.href='{% url 'user_add' %}';" class="btn btn-primary">Ajouter un Utilisateur</button>
    </div>

    <h3>Liste de tous les Utilisateurs :</h3>
    <ul>
        {% for user in users %}
        <li>
            <a href="{% url 'user_detail' user.id %}">{{ user.username }}</a> ||
            <a href="{% url 'user_edit' user.id %}" class="btn btn-warning btn-sm">Éditer</a> /
            <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm">Supprimer</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}