{% extends "base.html" %}

{% block title %}
    Détail de l'Utilisateur
{% endblock %}

{% block content %}
    <h2>Utilisateurs</h2>
    <h3>Détail de l'Utilisateur</h3>
    <div class="user-details">
        <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <div class="button-container">
        <a href="{% url 'user_edit' user.id %}" class="btn btn-primary">Modifier le profil de {{ user.username }}</a>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Retour à la liste des utilisateurs</a>
    </div>
{% endblock %}