{% extends "base.html" %}

{% block title %}
    Liste des Utilisateurs
{% endblock %}

{% block content %}
    <h2>Utilisateurs</h2>
    <h3>Liste de tous les Utilisateurs :</h3>
    <ul class="user-list">
		{% for user in users %}
        <li class="user-item">
			<span><a href="{% url 'user_detail' user.id %}">{{ user.username }}</a></span>
            <span class="button-group">
				<a href="{% url 'user_edit' user.id %}" class="btn btn-warning btn-sm">Éditer</a>
                <a href="{% url 'user_delete' user.id %}" class="btn btn-danger btn-sm">Supprimer</a>
            </span>
        </li>
        {% endfor %}
		<div class="button-container">
			<button onclick="location.href='{% url 'user_add' %}';" class="btn btn-primary">Ajouter un Utilisateur</button>
		</div>
    </ul>
{% endblock %}