{% extends "base.html" %}

{% block title %}
    Supprimer l'Utilisateur
{% endblock %}

{% block content %}
    <h2>Supprimer l'Utilisateur</h2>
    <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <strong>{{ user.username }}</strong> ?</p>
    <form action="{% url 'user_delete' user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Oui, supprimer</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'user_list' %}'">Annuler</button>
    </form>
{% endblock %}