# Ignorer les fichiers de bytecode Python
*.pyc
*.pyo
*.pyd

# Ignorer les dossiers __pycache__
__pycache__/

# Ignorer les environnements virtuels
venv/
.env/
.venv/

# Ignorer les fichiers de log
*.log

# Ignorer les fichiers de configuration
# *.env
*.ini
*.cfg

# Ignorer les fichiers de base de données SQLite
*.sqlite3

# Ignorer les fichiers générés par Jupyter
*.ipynb_checkpoints

# Ignorer les fichiers d'IDE
.idea/
.vscode/
*.swp
projet/srcs/web/ft_transcendence/user_manage/migrations/0002_auto_20240728_1709.py
projet/srcs/web/ft_transcendence/user_manage/migrations/0003_auto_20240729_0733.py
