{% extends "base.html" %}
{% block content %}

<div class="chat-container">
	<div class="chat-window">
		<div class="chat-header">
			{% if other_user %}
			<div id="mp-online-icon"></div>
			<a href="{% url 'user_manage:profile' other_user.username %}">
				<div class="mp-user-info">
					<img src={{ other_user.avatar.url }}>
					<span>{{other_user.username}}</span>
				</div>
			</a>
			{% else %}
				<div id="online-icon"></div>
				<p><span id="online-count" class="online-count"></span> online</p>
			{% endif %}
		</div>
		<div id="chat_contain" class="message-container">
			<ul class="message-list" id='chat_messages'>
				{% for message in chat_messages reversed %}
				{% include "live_chat/chat_message.html" %}
				{% endfor %}
			</ul>
		</div>
		<div class="chat-input-area">
			<form id="chat_message_form"
				hx-ext="ws"
				ws-connect="/ws/chatroom/{{ chatroom_name }}"
				ws-send
				_="on htmx:wsAfterSend reset() me">
				{% csrf_token %}
				{{ form }}
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}
<script>

	function scrollToBottom(time=0) {
		setTimeout(function() {
			const container = document.getElementById('chat_contain');
			container.scrollTop = container.scrollHeight;
		}, time);
	}
	scrollToBottom()

</script>
{% endblock %}