{% extends "base.html" %}
{% block content %}

<div class="chat-container">
    <div class="chat-window">
        <div class="chat-header">
            <span class="online-count">3</span> online
        </div>
        <div id="chat_contain" class="message-container">
            <ul class="message-list" id='chat_messages'>
                {% for message in chat_messages reversed %}
				{% include "live_chat/chat_message.html" %}
                {% endfor %}
            </ul>
        </div>
        <div class="chat-input-area">
            <form id="chat_message_form"
				hx-ext="ws"
				ws-connect="/ws/chatroom/public-chat"
				ws-send
				_="on htmx:wsAfterSend reset() me">
				{% csrf_token %}
				{{ form }}
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>

    function scrollToBottom(time=0) {
        setTimeout(function() {
            const container = document.getElementById('chat_contain');
            container.scrollTop = container.scrollHeight;
        }, time);
    }
    scrollToBottom()

</script>
{% endblock %}