	@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
	* {
		font-family: 'Gentium Plus', sans-serif;
	}
	body {
		text-align: center;
        background-color: ghostwhite;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
        position: fixed;
        width: 100%;
	}