{% extends "base.html" %}

{% block title %}
	Page des Joueurs
{% endblock %}

{% block content %}

	<div class="card border-secondary text-center">
		<h1 class="card-header text-center bg-secondary text-white">Inscription au tournoi de Pong</h1>

		<div class="card-body d-flex flex-column align-items-center">
			<!-- Formulaire pour demander le nombre de joueurs -->
			<div class="form-section">
				<label for="number-of-players">Nombre de joueurs :</label>
				<input type="number" id="number-of-players" min="4">
				<button type="button" class="btn btn-primary mt-3" onclick="generatePlayerInputs()">Valider</button>

				<!-- Section pour les noms des joueurs -->
				<form id="players-form" action="{% url 'tournament:setup_players' %}" method="POST">
					{% csrf_token %}
					<div id="player-names-container" class="player-names d-flex flex-column align-items-center m-1"></div>

					<!-- Nouveau div pour centrer le bouton -->
					<div class="d-flex justify-content-center">
						<button type="submit" id="submit-button" class="btn btn-secondary m-3" style="display: none;">
							Soumettre
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script>
		function generatePlayerInputs() {
			// Récupérer le nombre de joueurs
			const numberOfPlayers = parseInt(document.getElementById('number-of-players').value);
			const playerNamesContainer = document.getElementById('player-names-container');
			playerNamesContainer.innerHTML = ''; // Réinitialiser les inputs

			// Validation du nombre de joueurs
			if (isNaN(numberOfPlayers) || numberOfPlayers < 4) {
				alert('Veuillez entrer un nombre valide de joueurs (au moins 4).');
				return;
			}

			// Générer les champs pour les noms des joueurs
			for (let i = 1; i <= numberOfPlayers; i++) {
				const label = document.createElement('label');
				label.textContent = `Nom du joueur ${i} :`;
				label.classList.add('mt-2');

				const input = document.createElement('input');
				input.type = 'text';
				input.name = `player${i}`;
				input.placeholder = `Entrez le nom du joueur ${i}`;
				input.required = true;
				input.classList.add('form-control', 'mt-1');

				playerNamesContainer.appendChild(label);
				playerNamesContainer.appendChild(input);
			}

			// Afficher le bouton de soumission une fois les champs générés
			document.getElementById('submit-button').style.display = 'block';
		}
	</script>

{% endblock %}