{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
	<title>{% block title %}ft_transcendence{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'global.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
	{% block extra_head %}{% endblock %}
</head>
<body>
	<header>
		<h1><a href="{% url 'home:index' %}">ft_transcendence</a></h1>
		<div class="user-info">
			<div class="actions">
				<form action="{% url 'user_manage:search' %}" method="get" class="search-form">
					<input type="text" name="query" placeholder="Rechercher un utilisateur..." class="search-input">
					<button type="submit" class="search-button">
						<img src="{% static 'images/loupe.png' %}" alt="Rechercher" class="search-icon">
					</button>
				</form>
			</div>
			{% if request.user.is_authenticated %}
				<div class="image-container">
					<a href="{% url 'user_manage:profile' request.user.username %}">
						<img src="{{ request.user.avatar.url }}" alt="Image Profil" class="profile-image">
					</a>
				</div>
			{% else %}
				<div class="image-container">
					<a href="{% url 'user_manage:connexion' %}">
						<img src="{% static 'images/default_avatar.jpg' %}" alt="Image de connexion" class="profile-image">
					</a>
				</div>
			{% endif %}
		</div>
	</header>

	<main>
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<p>&copy; 2024 ft_transcendence</p>
		{% block javascript %}
		{% endblock%}
	</footer>
</body>
</html>