{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
	{% include "head.html" %}
</head>

<body>
	<header>
		<a href="{% url 'home:index' %}">
			<img src="{% static 'images/logo.png' %}" alt="Logo" id="logo">
		</a>
	</header>

	<nav class="navbar-container">
		<button class="btn navbar-toggle btn-outline-secondary" type="button" id="navbarToggle">
			{% if request.user.is_authenticated %}
				<div class="mid-pp rounded-circle overflow-hidden" style="width: 40px; height: 40px;">
					<img src="{{ request.user.avatar.url }}" alt="Image Profil" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
				</div>
			{% else %}
				<div class="pp-container rounded-circle overflow-hidden" style="width: 40px; height: 40px;">
					<img src="{% static 'images/default_avatar.jpg' %}" alt="Image de connexion" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
				</div>
			{% endif %}
		</button>

		<div class="navbar container-fluid border rounded shadow-sm" id="navbarContent" style="height: 100vh; flex-direction: column; align-items: center;">
			<!-- Search Bar -->
			<div class="row mb-4 w-100" style="margin-top: 54px;">
				<section class="search w-100">
					<form action="{% url 'user_manage:search' %}"
						  method="get"
						  class="search-form d-flex"
						  hx-get="{% url 'user_manage:search' %}"
						  hx-target="#htmx_content"
						  hx-swap="innerHTML">
						<input type="search" name="query" placeholder="Chercher un joueur" class="form-control rounded-pill" style="font-size: 1.2rem;">
						<button type="submit" class="btn btn-sm btn-secondary rounded-pill ms-2" style="width: 45px;">
							<img src="{% static 'images/loupe.png' %}" alt="Rechercher" class="search-icon" style="width: 100%;">
						</button>
					</form>
				</section>
			</div>

			<!-- Navigation Links -->
			{% if request.user.is_authenticated %}
				<div class="row mb-4 w-100" style="margin-top: 54px;"
					hx-ext="ws"
					ws-connect="/ws/online-status/">
					<section class="nav-links w-100">
						<ul class="list-unstyled">
							<!-- Access Profile -->
							<li class="mb-3">
								<button class="text-decoration-none btn btn-primary w-100 rounded-pill"
									style="font-size: 1.2rem;"
									hx-get="{% url 'user_manage:profile_partial' request.user.username %}"
									hx-trigger="click"
									hx-target="#htmx_content">
									Mon Profil
								</button>
							</li>
							<!-- Create Tournament -->
							<li class="mb-3">
								<a href="#" class="text-decoration-none btn btn-outline-primary w-100 rounded-pill" style="font-size: 1.2rem;">
									Créer un Tournoi
								</a>
							</li>
						</ul>
					</section>
				</div>
			{% endif %}

			<!-- Friend List (Collapsible) -->
			{% include "friend_list.html" %}

			<!-- Chat Section -->
			{% include "livechat_menu.html" %}

			<!-- Bouton de connexion/déconnexion -->
			<div class="row w-100 mt-auto">
				<section class="auth-buttons w-100 text-center">
					{% if request.user.is_authenticated %}
						<!-- Bouton de déconnexion -->
						<a href="{% url 'user_manage:logout' %}" class="btn btn-danger w-100 rounded-pill mb-1" style="font-size: 1.2rem;">
							Se déconnecter
						</a>
					{% else %}
						<!-- Bouton de connexion -->
						<a href="{% url 'user_manage:connexion' %}" class="btn btn-primary w-100 rounded-pill mb-1" style="font-size: 1.2rem;">
							Se connecter
						</a>
					{% endif %}
				</section>
			</div>
		</div>
	</nav>

	<main class="d-flex flex-column">
		<!-- Notifications -->
		<section id="syst_messages" class="position-fixed top-0 start-0 p-3" style="z-index: 1050;">
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
		</section>

		<!-- App principale -->
		<section id="htmx_content">
			{% block content %}
			{% endblock %}
		</section>
	</main>

	<footer>
		<p>&copy; 2024 ft_transcendence</p>
		{% block javascript %}
		{% endblock %}
		<script>
			document.getElementById('navbarToggle').addEventListener('click', function () {
				var navbarContent = document.getElementById('navbarContent');
				navbarContent.classList.toggle('show');
			});
		</script>
		<script>
			document.querySelectorAll('.btn-group button').forEach(button => {
				button.addEventListener('click', function() {
					document.querySelectorAll('.section').forEach(section => {
						section.style.display = 'none';
					});
					document.querySelector(this.getAttribute('hx-get')).style.display = 'block';
				});
			});
		</script>
	</footer>
</body>

</html>