<div class="row mb-4 w-100 bordered" style="margin-top: 54px;">
	<section class="friend-list w-100">
		{% if request.user.is_authenticated %}
			<div class="accordion" id="friendAccordion">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFriends">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFriends" aria-expanded="false" aria-controls="collapseFriends">
							Liste d'amis
						</button>
					</h2>
					<div id="collapseFriends" class="accordion-collapse collapse" aria-labelledby="headingFriends" data-bs-parent="#friendAccordion">
						<div class="accordion-body">
							<ul class="list-unstyled" id="friend-list" hx-get="{% url 'user_manage:check_online_status' %}" hx-trigger="load, every 5s">
								{% include 'partial/friend_list_partial.html' %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</section>
</div>