/*---------------------------------Général-------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #ffffff;
	background: linear-gradient(to top right, #ae8234, #28c980);
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: 1fr 0fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header"
		"main navbar"
		"footer footer";
}

/*---------------------------------Header--------------------------------------*/

header {
	grid-area: header;
	z-index: 1;
	background-color: #244232b1;
	border-bottom: 2px solid rgba(0, 0, 0, 0.679);
	box-shadow: 0px 2px 5px 0px  #343a40;
	padding: 10px 0;
	max-height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #logo {
	max-width: 100px;
	cursor: pointer;
}

/*---------------------------------Navbar--------------------------------------*/

.navbar-container {
	position: relative;
	font-family: 'Roboto', sans-serif;
}

.navbar-toggle {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 1050;
	background: none;
	box-shadow: 0px 2px 5px 0px  #343a40;
	border-radius: 50%;
	border: none;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.navbar-toggle img,
.navbar-toggle .mid-pp img,
.navbar-toggle .pp-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.navbar {
    grid-area: navbar;
    z-index: 1040;
    background-color: #bcbcbcc5;
	box-shadow: 5px #343a40;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
	height: 100%;
	justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    overflow-y: auto;
}

.nav-content {
	margin-top: minmax(20px, 100%);
}

.navbar.show {
    transform: translateX(0%);
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.search-form input {
	border: 1px solid #ced4da;
	font-size: 1.2rem;
	padding: 0.5rem;
	transition: all 0.3s ease-in-out;
}

.search-form input:focus {
	box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
	border-color: #80bdff;
}

/*---------------------------------Socialbar-----------------------------------*/

.socialbar {
	grid-area: socialbar;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.socialbar-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialbar-item h3 {
	font-size: 1.25rem;
	font-weight: 500;
}

.friend {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	transition: background-color 0.3s ease;
}

.friend:hover {
	background-color: #f1f1f1;
}

.friend .mini-pp img,
.chat-section ul img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.socialbar-item .friend li {
	list-style: none;
	display: flex;
	align-items: center;
}

/*---------------------------------Main (jeu)----------------------------------*/

main {
	grid-area: main;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-bottom: 5%;
}

main #content {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------------Footer--------------------------------------*/

footer {
	grid-area: footer;
	z-index: 1;
	max-height: 12%;
	background-color: #244232;
	border-top: 2px solid rgba(0, 0, 0, 0.679);
	box-shadow: 0px 0px 2px 0px  #343a40;
	padding: 10px 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------------Responsivité--------------------------------*/

@media (max-width: 768px) {
	body {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"main"
			"socialbar"
			"footer";
	}

	.navbar {
		width: 100%;
		height: 100%;
		transform: translateX(100%);
	}

	.navbar.show {
		transform: translateX(0%);
	}

	.socialbar {
		flex-direction: row;
		justify-content: space-around;
	}
}

/*---------------------------------Utils---------------------------------------*/

.mini-pp,
.mid-pp,
.max-pp {
	border-radius: 50%;
	overflow: hidden;
}

.mini-pp {
	width: 40px;
	height: 40px;
	margin: 5px;
	border: 2px solid #2c3e50;
}

.mid-pp {
	width: 100px;
	height: 100px;
	border: 2px solid #2c3e50;
}

.max-pp {
	width: 250px;
	height: 250px;
	border: 2px solid #2c3e50;
}

a.text-decoration-none {
	color: #343a40;
	transition: color 0.3s ease;
}

a.text-decoration-none:hover {
	color: #007bff;
	text-decoration: underline;
}

.accordion-button {
	background-color: #f8f9fa;
	color: #343a40;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.75rem;
}

.accordion-button.collapsed::after {
	transform: rotate(90deg);
}

.accordion-item {
	border: none;
	margin-bottom: 1rem;
}

/* Avatar normal (petit) */
.avatar {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 1050;
}

/* Avatar agrandi et centré lorsqu'on ouvre la navbar */
.navbar.show .avatar {
    position: static;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    transform: translateX(0); /* S'assure qu'il est centré */
    transition: all 0.3s ease;
}

.accordion-button-custom {
	align-items: center;
	appearance: button;
	background-color: rgb(248, 249, 250);
	border-bottom-color: rgb(52, 58, 64);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(52, 58, 64);
	border-left-style: none;
	border-left-width: 0px;
	border-right-color: rgb(52, 58, 64);
	border-right-style: none;
	border-right-width: 0px;
	border-top-color: rgb(52, 58, 64);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: none;
	border-top-width: 0px;
	box-sizing: border-box;
	color: rgb(52, 58, 64);
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-optical-sizing: auto;
	font-size: 19.200001px;
	font-size-adjust: none;
	font-stretch: 100%;
	font-weight: 700;
	height: 47px;
	letter-spacing: normal;
	line-height: 23.040001px;
	padding-block-end: 12px;
	padding-block-start: 12px;
	padding-bottom: 12px;
	padding-inline-end: 12px;
	padding-inline-start: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
	transition-property: color, background-color, border-color, box-shadow;
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	vertical-align: middle;
	width: 274px;
	word-spacing: 0px;
}