/*---------------------------------Général-------------------------------------*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	height: 100vh;
	line-height: 1.6;
	color: #ffffff;
	background: linear-gradient(to top left, #3f84a4, #28c980);
	display: grid;
	grid-template-columns: 3fr 25% 0fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header header"
		"main socialbar navbar"
		"footer footer footer";
}

/*---------------------------------Header--------------------------------------*/

header {
	/* border: 2px dashed black; */
	grid-area: header;
	z-index: 1;
	background-color: #244232b1;
	border-bottom: 2px solid rgba(0, 0, 0, 0.679);
	padding: 10px 0;
	max-height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header #logo {
	max-width: 100px;
	cursor: pointer;
}

/*---------------------------------Navbar--------------------------------------*/

.navbar-container {
	position: relative;
}

.navbar-toggle {
	height: 35px;
	width: 35px;
	justify-content: center;
	cursor: pointer;
	background: none;
	border: none;
	position: fixed;
	top: 20px;
	left: calc(100% - (35px + 20px));
	z-index: 1000;
}

.navbar {
	/* border: 2px dashed black; */
	grid-area: navbar;
	z-index: 5;
	background-color: #48514cd2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	transition: transform 0.3s ease;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	transform: translateX(100%);
}

.navbar.active {
	transform: translateX(0);
}

.navbar-item {
	border: 2px dashed black;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar-toggle img {
	height: 25px;
}

.search-form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/*---------------------------------Socialbar-----------------------------------*/

.socialbar {
	/* border: 2px dashed black; */
	background-color: #244232b1;
	border-left: 2px solid rgba(0, 0, 0, 0.679);
	grid-area: socialbar;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.socialbar-item {
	/* border: 2px dashed black; */
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socialbar-item .friend {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.socialbar-item .friend li {
	list-style: none;
	display: flex;
	align-items: center;
}

/*---------------------------------Main (jeu)----------------------------------*/

main {
	/* border: 2px dashed black; */
	grid-area: main;
	height: auto;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

main #content {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------------Footer--------------------------------------*/

footer {
	/* border: 2px dashed black; */
	grid-area: footer;
	z-index: 1;
	max-height: 80px;
	background-color: #244232b1;
	border-top: 2px solid rgba(0, 0, 0, 0.679);
	padding: 10px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*---------------------------------Responsivité--------------------------------*/

@media (max-width: 768px) {
	body {
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"main"
			"socialbar"
			"footer";
	}

	.navbar {
		width: 100%;
		height: 100%;
		position: fixed;
		right: 0;
		top: 0;
		transform: translateX(100%);
	}

	.navbar.active {
		transform: translateX(0);
	}

	.socialbar {
		flex-direction: row;
		justify-content: space-around;
	}
}

/*---------------------------------Utils---------------------------------------*/

.mini-pp {
	width: 40px;
	height: 40px;
	margin: 5px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #2c3e50;
}

.mini-pp img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.mid-pp {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid #2c3e50;
	overflow: hidden;
}

.mid-pp img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.max-pp {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 2px solid #2c3e50;
	overflow: hidden;
}

.max-pp img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}