{% extends "base.html" %}

{% block title %}
    Confirmation Tournament
{% endblock %}

{% block content %}
    <style>
        .buttons {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        .btn-link, .btn-submit {
            padding: 10px 20px;
            font-size: 1em;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s;
            display: inline-block;
            text-align: center;
            border: none;
        }

        .btn-link {
            color: #fff;
            background-color: #007bff;
        }

        .btn-link:hover {
            background-color: #0056b3;
            transform: translateY(-2px);
        }

        .btn-submit {
            color: #fff;
            background-color: #28a745;
        }

        .btn-submit:hover {
            background-color: #218838;
            transform: translateY(-2px);
        }
    </style>

    <h1>Confirmation des Participants</h1>

    <ul>
        {% for player in players %}
            <li>{{ player }}</li>
        {% endfor %}
    </ul>

    <div class="buttons">
        <a href="{% url 'tournament:setup_players' %}" class="btn-link">Retourner à l'inscription</a>

        <form action="{% url 'tournament:tournoi' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            {% for player in players %}
                <input type="hidden" name="players" value="{{ player }}">
            {% endfor %}
            <button type="submit" class="btn-submit">Commencer Le Tournament</button>
        </form>
    </div>
{% endblock %}
