{% for friend in request.user.friends.all %}
    <li class="friend mb-2 d-flex align-items-center">
        <div class="mini-pp rounded-circle overflow-hidden me-2" style="width: 30px; height: 30px;">
            <img src="{{ friend.avatar.url }}" alt="friend pp" class="img-fluid" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        {% if friend in online_users.users_online.all %}
            <a href="{% url 'user_manage:profile' friend.username %}" class="text-decoration-none text-success">{{ friend.username }}</a>
        {% else %}
            <a href="{% url 'user_manage:profile' friend.username %}" class="text-decoration-none">{{ friend.username }}</a>
        {% endif %}
    </li>
{% endfor %}