<div class="container mt-5">
	<div class="card border-secondary" style="--bs-card-bg: #777777aa">
		<div class="card-header text-center bg-secondary text-white">
			<h2>Détails du Compte</h2>
		</div>
		<div class="card-body d-flex flex-column align-items-center">
			<div class="profile-section d-flex flex-column align-items-center">
				<div class="max-pp mb-3">
					<img src="{{ user.avatar.url }}" alt="Photo de profil" class="profile-image img-thumbnail rounded-circle" style="width: 250px; height: 250px; object-fit: cover;">
				</div>
				<div class="profile-info text-center mb-4">
					<p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
					<p><strong>Email:</strong> {{ user.email }}</p>
					<p><strong>Prénom:</strong> {{ user.first_name }}</p>
					<p><strong>Nom:</strong> {{ user.last_name }}</p>
					<p><strong>{{ user.username }}</strong> a gagné <strong>{{ user.won_games.count }} parties</strong> et a perdu <strong>{{ user.lost_games.count }} parties</strong>.</p>
					<p><strong>{{ user.username }}</strong> a gagné <strong>{{ user.won_tournaments.count }} tournois</strong>.</p>

					<div class="accordion mt-4 w-100" id="accordionGame">
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGames" aria-expanded="false" aria-controls="collapseGames">
									Historique des parties
								</button>
							</h2>
							<div id="collapseGames" class="accordion-collapse collapse" aria-labelledby="headingGame" data-bs-parent="#accordionGame">
								<div class="accordion-body">
									<ul class="list-group">
										{% for game in user.pong_results.all reversed %}
											{% if game.tournament is None %}
												<li class="list-group-item d-flex justify-content-center align-items-center">
													{{ game }}
												</li>
											{% else %}
												<li class="list-group-item d-flex justify-content-center align-items-center">
													(T) {{ game }}
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTournaments" aria-expanded="false" aria-controls="collapseTournaments">
									Historique des tournois
								</button>
							</h2>
							<div id="collapseTournaments" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionGame">
								<div class="accordion-body">
									<ul class="list-group">
										{% for tournament in user.tournaments.all reversed %}
											{% if tournament.winner == user %}
												<li class="list-group-item d-flex justify-content-between align-items-center">
													<a href="{% url 'tournament:tournament_detail' tournament.pk %}" class="text-decoration-none fw-bold text-success">
														{{ tournament }} (Top 1)
													</a>
													<span class="badge bg-primary rounded-pill">Détails</span>
												</li>
											{% else %}
												<li class="list-group-item d-flex justify-content-between align-items-center">
													<a href="{% url 'tournament:tournament_detail' tournament.pk %}" class="text-decoration-none fw-bold text-secondary">
														{{ tournament }}
													</a>
													<span class="badge bg-primary rounded-pill">Détails</span>
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div>
						{% if user in online.users_online.all %}
							<p class="btn btn-success"><i class="fas fa-circle"></i> En ligne</p>
						{% else %}
							<p class="btn btn-muted"><i class="fas fa-circle"></i> Hors ligne</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
			{% if user == request.user %}
				<div class="accordion mt-4 w-100" id="accordionExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								Demandes d'amis reçus
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul class="list-group">
									{% for friend in user.friends_request.all %}
										<li class="list-group-item d-flex justify-content-between align-items-center">
											<a href="{% url 'user_manage:profile' friend.username %}">{{ friend.username }}</a>
											<span>
												<a href="{% url 'user_manage:accept_friend' friend.username %}" class="btn btn-success btn-sm">✅</a>
												<a href="{% url 'user_manage:refuse_friend' friend.username %}" class="btn btn-danger btn-sm">❌</a>
											</span>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								Demandes d'amis en attente
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul class="list-group">
									{% for friend in user.users_requested.all %}
										<li class="list-group-item">
											<a href="{% url 'user_manage:profile' friend.username %}">{{ friend.username }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>

					<div class="accordion-item">
						<h2 class="accordion-header" id="headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								Liste des utilisateurs bloqués
							</button>
						</h2>
						<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<ul class="list-group">
									{% for friend in user.blockeds.all %}
										<li class="list-group-item">
											<a href="{% url 'user_manage:profile' friend.username %}">{{ friend.username }}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			<div class="account-actions mt-4 w-100 d-flex flex-column align-items-center">
				{% if request.user.is_authenticated %}
					{% if user == request.user %}
						<a href="{% url 'user_manage:edit' %}" class="btn btn-primary w-100 mb-2">Modifier le profil</a>
					{% else %}
						{% if request.user in user.blockeds.all or user in request.user.blockeds.all %}
							<a href="#" class="btn btn-secondary w-100 mb-2">Envoyer un message</a>
						{% else %}
							<a href="{% url 'chat:start_chat' user.username %}" class="btn btn-primary w-100 mb-2">Envoyer un message</a>
						{% endif %}
						<div class="d-flex flex-column w-100">
							{% if user not in request.user.friends.all and user not in request.user.users_requested.all %}
								<a href="{% url 'user_manage:add_friend' user.username %}" class="btn btn-success mb-2">Ajouter en ami</a>
							{% elif user in request.user.friends.all %}
								<a href="{% url 'user_manage:remove_friend' user.username %}" class="btn btn-warning mb-2">Retirer de la liste d'amis</a>
							{% elif user in request.user.users_requested.all %}
								<a href="{% url 'user_manage:remove_friend_request' user.username %}" class="btn btn-danger mb-2">Annuler la demande d'amis</a>
							{% endif %}
							{% if user not in request.user.blockeds.all %}
								<a href="{% url 'user_manage:block' user.username %}" class="btn btn-secondary mb-2">Bloquer l'utilisateur</a>
							{% else %}
								<a href="{% url 'user_manage:unblock' user.username %}" class="btn btn-secondary mb-2">Débloquer l'utilisateur</a>
							{% endif %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
